* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Amazon Ember', Arial, Helvetica, sans-serif;
}

.logo img {
    height: 50px;
    width: auto;
}

.primarynav {
    padding-inline: 20px;
    background-color: #131921;
    color: white;
    padding-block-start: 3px;
}

.location img {
    color: white;
    height: 20px;
}

.delivery-in-nav {
    font-size: 12px;
    line-height: 14px;
    color: #d6d6d6;
}

.update-location {
    font-weight: 1000;
    font-size: 0.8rem;
}

.books {
    background-color: #e6e6e6;
    height: 40px;
    width: 65px;
    border-radius: 4px 0px 0px 4px;
    color: #555;
    padding-left: 10px;
    font-size: smaller;
}

.primarynav input {
    height: 40px;
    width: 486px;
}

.searchbar img {
    height: 30px;
    width: auto;
}

.search-box {
    height: 40px;
    width: 45px;
    background-color: #febd69;
    border-radius: 0px 4px 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indiaflag img {
    height: 15px;
    width: auto;
}

.hello-sign-in {
    font-size: 12px;
    line-height: 14px;
    color: #d6d6d6;
}

.cart-img {
    height: 30px;
    width: 30px;
}


/* ------ */

.secondarynav {
    width: 100%;
    height: 39px;
    background-color: #232f3e;
    color: white;
    font-size: 0.8rem;
    padding-inline-start: 15px;
}

.secondarynav img {
    height: 25px;
    width: 25px;
}

/* ------------ */

.tertiarynav {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    height: 33px;
    font-size: 12px;
    line-height: 33px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline-start: 30px;
}

/* --------- */

.leftmain {
    display: flex;
    flex-direction: column;
    border-right: 2px solid lightgray;
    width: 17%;
    height: auto;
    margin-inline-start: 10px;
    margin-block-start: 10px;
}

.leftmain ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.leftmain ul li {
    min-height: 20px;
    width: auto;
}

.list-in-left {
    margin-left: 20px;
    font-size: 0.85rem;
    line-height: 20px;
}


/* .rightmain {
    border: 2px solid black;
    display: flex;
    width: 83%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.rightmain img {
    width: 100%;
    height: auto;
    object-fit: cover;
} */

.rightmain {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 83%;
    height: 100%;
    margin-right: 20px;
}

.rightmain img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    align-self: flex-start;
}

.smallbanners img {
    height: 106px;
    width: 106px;
}
